body {
  background-color: #8d99ae;
  padding-left: 24px;
  padding-right: 24px;
}
.title {
  font-size: 128px;
  font-weight: bold;
  color: #9d0208;
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
}
.katara {
  animation-name: katara_animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes katara_animation {
  0% {
    left: -400px;
    position: relative;
  }
  100% {
    left: 0px;
    position: relative;
  }
}
.gingi {
  animation-name: gingi_animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes gingi_animation {
  0% {
    left: 600px;
    position: relative;
  }
  100% {
    left: 0px;
    position: relative;
  }
}
.cover_figure {
  width: 68%;
}
.container {
  display: flex;
  align-items: flex-end;
  padding-top: 80px;
}
.text {
  font-size: 32px;
  color: #edf2f4;
  margin-bottom: 48px;
}
.text_right {
  text-align: right;
}
