body {
  background-color: #8d99ae;
  padding-left: 24px;
  padding-right: 24px;
}
.title {
  font-size: 128px;
  font-weight: bold;
  color: #9d0208;
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
}
.cover_figure {
  width: 68%;
}
.container {
  display: flex;
  align-items: flex-end;
  padding-top: 80px;
}
.text {
  font-size: 32px;
  color: #edf2f4;
  margin-bottom: 48px;
}
.text_right {
  text-align: right;
}
