body {
  background-image: linear-gradient(to bottom right, #8d99ae, #f08080);
  background-color: #8d99ae;
  padding-left: 24px;
  padding-right: 24px;
}
.title {
  font-size: 128px;
  font-weight: bold;
  color: #9d0208;
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
}
.katara {
  animation-name: katara_animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes katara_animation {
  0% {
    left: -400px;
    position: relative;
    color: #2b2d42;
  }
  100% {
    left: 0px;
    position: relative;
    color: #9d0208;
  }
}
.gingi {
  animation-name: gingi_animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  color: #2b2d42;
}
@keyframes gingi_animation {
  0% {
    left: 400px;
    position: relative;
    color: #edf2f4;
  }
  100% {
    left: 0px;
    position: relative;
    color: #2b2d42;
  }
}
.cover_figure {
  width: 68%;
}
.container {
  display: flex;
  align-items: flex-end;
  padding-top: 80px;
}
.text {
  font-size: 32px;
  color: #edf2f4;
  margin-bottom: 48px;
}
.text_right {
  text-align: right;
  animation-name: text_animation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.text_left {
  animation-name: text_animation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes text_animation {
  0% {
    top: 400px;
    position: relative;
  }
  100% {
    top: 0px;
    position: relative;
  }
}

.flying_cat_food {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: cat_food_animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes cat_food_animation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 100%;
    top: 100%;
  }
  50% {
    left: 60%;
    top: 0;
  }
  75% {
    left: 40%;
    top: 100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}
